*bookmark*
*directory*
*hist*
*list*
*saved*
*socket*
*store*
*xfce4*
*zcompdump*

autostart
Android Open Source Project
calibre
chromium
Code Industry
dconf
Epic
gconf
menus
spotify
pulse
Unreal Engine
VirtualBox

*.crt
*.conf
*.log
